body {
    margin: 0px;
    font-family: Helvetica;
}

a {
    text-decoration: none
}

/* Class Selectors*/
.detail-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}

.park {
    vertical-align: top;
    width: 150px;
    height: 285px; 
    display: inline-block;
    text-align: center;
    background-color: #EEEEEE;
    border-radius: 5px;
    list-style: none;
    flex: 0 0 215px;
    margin: 1em 20px;
}

/* ID Selectors */
#parks-collection {
    display:  flex;
    flex-wrap: wrap;
    padding: 40px calc((100% - (255px * 3)) / 2);
    padding-left: 10px;
    justify-content: center;
}


#park-name {
    color: white;
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
}

#details{
    position: relative;
    text-align: center;
    margin: 0 10%;
    justify-content: center;
    display: flex;
}


/* @media */
@media screen and (min-width: 601px) {
    #park-name {
        font-size: 80px;
    }
}

@media screen and (max-width: 600px) {
    #park-name {
        font-size: 40px;
    }
}